*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'News Cycle', sans-serif;
}

.btn{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #0077b6;
    border-radius: 30px;
    background-color: #0077b6;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

.btn:hover{
    color:#DDDDDD;
    border-color:#03045e;
    background-color: #03045e;
}

.btn:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.body{
    background-color: #caf0f8;
}

.block{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 30px;
    margin: 10px;
    height: 100%;
}

.center{
    margin:auto;
    width: 50%;
}

.close-x{
    overflow: auto;
}

.close{
    float:right;
}

.field-error{
    background-color: rgba(247, 134, 134, 0.4); 
}

.flex{
    display: flex;
    flex-direction: row;
}

#greeting{
    font-size:60px;
    padding: 15px;
}

#greeting p{
    text-align: center;
}

.hidden{
    visibility: hidden;
}

.left{
    float: left;
}

.logo{
    float: left;
    /*border and height for visualization*/
    border: 1px solid black;
    height: 75px;
}

.login{
    float: right;
}

.login-content{
    display: flex;
    flex-direction: column;
}

nav{
    padding: 30px;
}

#nav-container{
    padding:60px;
    display: flex;
    flex-direction: row;
}

#top-bar{
    padding: 15px;
    overflow: auto;
}

.container{
    background-color: white;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 100%;
}

.popup-content{
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 30px;
}

.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blanchedalmond;
}

.right{
    float: right;
}

.search-body{
    display: flex;
    flex-direction: row;
}